<!DOCTYPE html>
<html>

<head>
  <title>Todo List</title>
</head>

<body>
  <form method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" name="submit" value="Add Todo">
  </form>

  <ul>
    {% for data in datas %}
    <li>
      <form action="/done_undone" method="post" style="display: flex; gap: 1rem;">
        <input type="checkbox" name="todo" {% if data[3] %}checked{% endif %} onchange="this.form.submit()">
        <input type="hidden" name="todo_id" value="{{ data[0] }}">
        <p>{{ data[1] }} - {{ data[2] }}</p>
      </form>
    </li>
    {% endfor %}
  </ul>
</body>

</html>