<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
  <title>Home</title>
</head>

<body>
  <section class="container" style="margin: 2rem 0;">
    <div class="signin">

      <div class="content">

        <h2>Sign Up</h2>

        <form class="form" action="" method=post>

          <div class="inputBox">

            <input type="text" required> <i>Username</i>

          </div>
          <div class="inputBox">

            <input type="email" required> <i>Email</i>

          </div>
          <div class="inputBox">

            <input type="number" required> <i>Age</i>

          </div>
          <div class="inputBox">

            <input type="date" id="birthdate" name="birthdate"> <i>DOB</i>

          </div>
          <div class="inputBox">

            <input type="number" required> <i>Phone number</i>

          </div>
          <div class="inputBox">

            <select id="gender" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
              <option value="other" disabled selected>Select Gender</option>
            </select>

          </div>

          <div class="inputBox">

            <input type="password" required> <i>Password</i>

          </div>

          <div class="inputBox">

            <input type="submit" value="Login">

          </div>

          <div class="links"> <a href="/login" style="text-align: center; width: 100%;">SignIn</a>

          </div>

        </form>

      </div>

    </div>
  </section>
</body>

</html>